.wrapper
{
    background-image: url('pizza.jpg');
    background-size: cover;
    border-radius: 5px;
    height: 1000px;
    width: 2000px;
    box-shadow: 2px 5px 7px 7px white;
    /*background-color: black;*/
    display:inline-block; 
    color: white;
}